@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Product Sans', sans-serif;
}

.paragraph {
  font-family: 'Inter', sans-serif;
}


.heading {
  font-size: clamp(2.5rem, 3vw, 5rem);
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5rem 0;
  color: white;
}

.text-block {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.6;
  margin-top: 2rem;
  color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.mask {
  overflow: hidden;
}
